$danger: red;
$gray-100: #f1f3f5;
$gray-600: #555;
$gray-900: #333;
$border-color: #ddd;
$grid-wrapper-border-radius: 20px;

.GridWrapper {
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid $border-color;
  border-radius: $grid-wrapper-border-radius;
  padding: 0.25rem;

  &.Error {
    border-color: $danger;
  }
}

.Grid {
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 0.5rem;

  &::-webkit-scrollbar {
    height: 2rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-600;
    border-radius: 1rem;
  }

  .GridContent {
    position: relative;
  }

  .GridPreloader, .GridError {
    width: 100%;
    text-align: center;
    padding: 2rem;
  }

  .GridPreloaderFast {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    color: $gray-900;
  }

  .GridError {
    color: $danger;
  }

  .THead {
    display: flex;
    overflow: hidden;
    margin-bottom: 0.5rem;
  }

  .GridContent {

  }

  .GridRow {
    display: flex;
    border-radius: 16px;
    transition: all .3s ease-in-out;

    &:nth-child(odd) {
      background: $gray-100;
    }
  }

  .GridCell {
    padding: 1rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


}
