$gray-600: #777;
$gray-100: #f1f3f5;

.ColumnCaption {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  position: relative;
  color: $gray-600;
  padding-bottom: .25rem;
  border-bottom: 1px solid $gray-100;
  
  .ColumnTitle {
    cursor: pointer;
    padding: 8px 8px;
    border-radius: 18px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2px;
    transition: background .2s ease-in-out;
    &:hover {
      background-color: $gray-100;
    }
  }

  .ColumnSeparator {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background: transparent;
    width: 2px;
    cursor: ew-resize;
    transition: background .2s ease-in-out;

    &:hover {
      background: $gray-100;
    }
  }
}
